body{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 20px;

}

header{
    background-color: #b59b6a;
    color:black;
    padding: 15px;
    margin-bottom: 20px;
}

h1{
    color:rgb(0, 0, 0);
    font-size: 32px;
    max-width: 600px;
    margin: 0 auto 20px;
    line-height: 2.5;
    padding: 20px;

    background-color: #f3eeba;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

h2{
    color:rgb(0, 0, 0);
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto 20px;
    line-height: 1.5;
    padding: 20px;

    background-color: #f3eeba;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 10px;
}

.choices img{
    width: 150px;
    height: autopx;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.choices img:hover{
    transform: scale(1.2);
}

#computerChoice, #result{
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}

#playAgainBtn{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background:#f3eeba;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;

    display: none;
    margin:0 auto;
}

#playAgainBtn:hover {
    background-color: #dcd479;
}